@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

* {
  box-sizing: border-box; }

html,
body,
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#root {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform .3s; }
  #root > div {
    flex-shrink: 0; }
  #root button {
    outline: none; }

.wrap {
  display: flex;
  flex-direction: column; }

.wrap {
  font-size: 0.48rem; }

header {
  width: 100%;
  height: 1.2rem;
  background: #efeff0;
  color: #333;
  line-height: 1.2rem;
  position: relative;
  padding: 0 1.2rem;
  display: flex; }

.tpl {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0; }
  .tpl ._icon {
    width: 1.2rem;
    height: 1.2rem; }
  .tpl .tpl_lef {
    display: flex;
    align-items: center; }
    .tpl .tpl_lef span {
      margin-left: 0.13333rem;
      font-size: 0.42667rem;
      color: #666; }
  .tpl .tpl_lef_icon {
    background: url("../image/icon-back.png") no-repeat center center;
    background-size: 0.58667rem; }
  .tpl .tpl_rig_icon {
    background: url("../image/icon-home.png") no-repeat center center;
    background-size: 0.58667rem; }

header.index_header .head_inner {
  height: 100%;
  width: 4.8rem;
  margin: 0 auto;
  display: flex;
  position: relative; }
  header.index_header .head_inner span {
    line-height: 1.2rem;
    width: 50%;
    text-align: center; }
  header.index_header .head_inner span.active {
    color: #ff6600; }
  header.index_header .head_inner .line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 3px;
    background: #ccc;
    transition: left .5s; }
  header.index_header .head_inner b.move {
    left: 50%; }
  header.index_header .head_inner .line:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #777; }

header.index_header .head_icon {
  height: 100%;
  width: 1.2rem;
  position: absolute;
  top: 0; }

header.index_header .icon_left {
  left: 0;
  background: url("../image/icon-sign.png") no-repeat center center;
  background-size: 0.58667rem; }

header.index_header .icon_right {
  right: 0;
  background: url("../image/icon-person.png") no-repeat center center;
  background-size: 0.58667rem; }

main {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.index_scroll,
.shu_c,
.shu_j {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.shu_c,
.shu_j {
  overflow: hidden;
  position: relative; }

.shu_j {
  overflow-y: auto; }

div.drag_down {
  width: 100%;
  height: 1.06667rem;
  font-size: 0.37333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
  div.drag_down b {
    transform: rotate(90deg);
    margin-right: 0.26667rem;
    transition: transform .3s; }

div.up b {
  transform: rotate(270deg); }

.shu_c_inner {
  height: auto;
  background: #ccc; }

section.top {
  background: #fff;
  width: 100%; }

.index_serch {
  width: 100%;
  height: 1.46667rem;
  padding: 0.26667rem 4%; }
  .index_serch .index_serch_inner {
    width: 100%;
    height: 100%;
    display: flex; }
    .index_serch .index_serch_inner p {
      flex: 1;
      font-size: 0.37333rem;
      color: #555;
      line-height: 0.93333rem;
      padding-left: 1.2rem;
      background: url("../image/icon-search.png") no-repeat 0.26667rem center;
      background-size: 0.48rem;
      border: 1px solid #ddd;
      border-radius: 2px; }
    .index_serch .index_serch_inner b {
      width: 0.93333rem;
      height: 0.93333rem;
      line-height: 0.93333rem;
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 2px;
      margin-left: 0.13333rem;
      background: url("../image/icon-swicth-list.png") no-repeat center center;
      background-size: 0.53333rem; }
    .index_serch .index_serch_inner b.active {
      background: url("../image/icon-switch.png") no-repeat center center; }

.index_banner {
  width: 100%; }
  .index_banner .index_banner_inner {
    width: 100%; }
    .index_banner .index_banner_inner img {
      display: block;
      width: 100%; }

.index_list {
  width: 100%;
  padding: 0.26667rem 8%; }
  .index_list ul {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .index_list ul li {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .index_list ul li i {
        width: 0.66667rem;
        height: 0.66667rem;
        margin-bottom: 0.13333rem; }
        .index_list ul li i img {
          display: block;
          width: 100%;
          height: 100%; }
      .index_list ul li span {
        font-size: 0.32rem; }

.day_hot {
  margin-top: 0.26667rem;
  background: #fff; }
  .day_hot .day_hot_top {
    height: 1.2rem;
    width: 100%;
    line-height: 1.2rem;
    text-indent: 0.53333rem;
    position: relative;
    border-bottom: 1px solid #ddd; }
  .day_hot .day_hot_top:after {
    content: "";
    height: 1.2rem;
    width: 0.18667rem;
    background: #e35109;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
  .day_hot .day_hot_more {
    margin-top: 0.26667rem;
    width: 100%;
    font-size: 0.37333rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    text-align: center;
    border-top: 1px solid #ddd; }

.day_hot_list {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap; }
  .day_hot_list li {
    width: 33.33%;
    margin-top: 0.26667rem;
    display: flex; }
    .day_hot_list li dl {
      width: 2.26667rem; }
    .day_hot_list li dt {
      width: 100%;
      height: 3.2rem; }
      .day_hot_list li dt img {
        display: block;
        width: 100%;
        height: 100%; }
    .day_hot_list li dd {
      width: 100%;
      margin-top: 0.13333rem;
      font-size: 0.32rem; }
  .day_hot_list li:nth-of-type(3n+1) {
    justify-content: flex-start; }
  .day_hot_list li:nth-of-type(3n+2) {
    justify-content: center; }
  .day_hot_list li:nth-of-type(3n+3) {
    justify-content: flex-end; }

.heavy_data {
  margin-top: 0.26667rem;
  background: #fff; }
  .heavy_data .heavy_top {
    height: 1.2rem;
    width: 100%;
    font-size: 0.42667rem;
    line-height: 1.2rem;
    padding: 0 0.53333rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between; }
    .heavy_data .heavy_top p {
      color: #ccc; }
      .heavy_data .heavy_top p span {
        color: #333;
        font-size: 0.32rem; }
      .heavy_data .heavy_top p span.focus {
        color: blue; }

div.change_bot {
  height: 1.2rem;
  width: 100%;
  font-size: 0.42667rem;
  line-height: 1.2rem;
  padding: 0 0.53333rem; }
  div.change_bot p {
    width: 100%;
    height: 100%;
    display: flex; }
    div.change_bot p span {
      height: 100%;
      width: 50%;
      text-align: center;
      color: #333;
      font-size: 0.37333rem; }
    div.change_bot p span:first-of-type {
      border-right: 1px solid #ddd; }

.heavy_list {
  width: 100%;
  padding: 0 5%; }
  .heavy_list .heavy_list_inner {
    width: 100%; }
    .heavy_list .heavy_list_inner dl.easy_list {
      width: 100%;
      display: flex;
      padding: 0.4rem 0 0.4rem 0.66667rem;
      border-bottom: 1px solid #f0f0f0;
      align-items: center; }
      .heavy_list .heavy_list_inner dl.easy_list dt {
        font-size: 0.42667rem;
        margin-right: 0.4rem;
        position: relative; }
      .heavy_list .heavy_list_inner dl.easy_list dd {
        font-size: 0.32rem;
        color: #ccc; }
    .heavy_list .heavy_list_inner .first_detail_icon dt:before {
      content: "1";
      width: 0.37333rem;
      height: 0.42667rem;
      line-height: 0.42667rem;
      text-align: center;
      font-size: 0.34667rem;
      background: #f35d02;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0; }
    .heavy_list .heavy_list_inner .easy_list_icon dt:before {
      content: attr(data-id);
      width: 0.37333rem;
      height: 0.42667rem;
      line-height: 0.42667rem;
      text-align: center;
      font-size: 0.34667rem;
      color: #f35d02;
      position: absolute;
      top: 50%;
      left: -0.8rem;
      transform: translateY(-50%); }

dl.detail_list {
  width: 100%;
  display: flex;
  padding: 0.4rem 0 0.4rem 0;
  border-bottom: 1px solid #f0f0f0;
  align-items: center; }
  dl.detail_list dt {
    width: 2.26667rem;
    height: 3.01333rem;
    background: #333;
    margin-right: 0.4rem;
    position: relative; }
    dl.detail_list dt img {
      display: block;
      width: 100%;
      height: 100%; }
    dl.detail_list dt strong {
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: 0.32rem;
      padding: 0 0 0.18667rem 0.16rem;
      color: #fff;
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); }
  dl.detail_list dd {
    flex: 1;
    height: 3.01333rem;
    overflow: hidden;
    font-weight: normal;
    font-size: 0.32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    dl.detail_list dd h5 {
      font-size: 0.42667rem; }
    dl.detail_list dd span {
      font-size: 0.34667rem; }
    dl.detail_list dd p {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    dl.detail_list dd h6 {
      display: flex; }
      dl.detail_list dd h6 b {
        font-size: 0.29333rem;
        padding: 0rem 0.13333rem;
        border-radius: 0.08rem;
        border: 1px solid #53ac7d;
        margin-right: 0.13333rem;
        color: #53ac7d; }

.girl_data {
  margin-top: 0.26667rem;
  background: #fff; }
  .girl_data .girl_top {
    height: 1.2rem;
    width: 100%;
    font-size: 0.42667rem;
    line-height: 1.2rem;
    padding: 0 0.53333rem;
    border-bottom: 1px solid #ddd; }
    .girl_data .girl_top b {
      color: #333;
      font-weight: bolder; }

.girl_list {
  width: 100%;
  padding: 0 5%; }
  .girl_list .girl_list_inner {
    width: 100%; }

.boy_data {
  margin-top: 0.26667rem;
  background: #fff; }
  .boy_data .boy_top {
    height: 1.2rem;
    width: 100%;
    font-size: 0.42667rem;
    line-height: 1.2rem;
    padding: 0 0.53333rem;
    border-bottom: 1px solid #ddd; }
    .boy_data .boy_top b {
      color: #333;
      font-weight: bolder; }

.boy_list {
  width: 100%;
  padding: 0 5%; }
  .boy_list .boy_list_inner {
    width: 100%; }

.tody_free {
  margin-top: 0.26667rem;
  background: #fff; }
  .tody_free .tody_free_top {
    height: 1.2rem;
    width: 100%;
    line-height: 1.2rem;
    text-indent: 0.53333rem;
    position: relative;
    border-bottom: 1px solid #ddd; }
  .tody_free .tody_free_top:after {
    content: "";
    height: 1.2rem;
    width: 0.18667rem;
    background: #e35109;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
  .tody_free .tody_free_more {
    margin-top: 0.26667rem;
    width: 100%;
    font-size: 0.37333rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    text-align: center;
    border-top: 1px solid #ddd; }

.tody_free_list {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap; }
  .tody_free_list li {
    width: 33.33%;
    margin-top: 0.26667rem;
    display: flex; }
    .tody_free_list li dl {
      width: 2.26667rem; }
    .tody_free_list li dt {
      width: 100%;
      height: 3.2rem; }
      .tody_free_list li dt img {
        display: block;
        width: 100%;
        height: 100%; }
    .tody_free_list li dd {
      width: 100%;
      margin-top: 0.13333rem;
      font-size: 0.32rem; }
  .tody_free_list li:nth-of-type(3n+1) {
    justify-content: flex-start; }
  .tody_free_list li:nth-of-type(3n+2) {
    justify-content: center; }
  .tody_free_list li:nth-of-type(3n+3) {
    justify-content: flex-end; }

.best_data {
  margin-top: 0.26667rem;
  background: #fff; }
  .best_data .best_top {
    height: 1.2rem;
    width: 100%;
    font-size: 0.42667rem;
    line-height: 1.2rem;
    padding: 0 0.53333rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between; }
    .best_data .best_top p {
      color: #333; }
  .best_data .best_more {
    margin-top: 0.26667rem;
    width: 100%;
    font-size: 0.37333rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    text-align: center;
    border-top: 1px solid #ddd; }

.best_list {
  width: 100%;
  padding: 0 5%; }
  .best_list .best_list_inner {
    width: 100%;
    display: flex; }
    .best_list .best_list_inner a {
      width: 50%; }
      .best_list .best_list_inner a img {
        display: block;
        width: 100%; }
    .best_list .best_list_inner a:first-of-type {
      margin-right: 0.10667rem; }
    .best_list .best_list_inner a:last-of-type {
      margin-left: 0.10667rem; }

.falls_data {
  margin-top: 0.26667rem;
  background: #fff; }

.falls_list {
  width: 100%;
  padding: 0 5%; }
  .falls_list .falls_list_inner {
    width: 100%; }

.shu_j_inner {
  width: 100%;
  background: white; }

.sj_data {
  width: 100%;
  padding: 0 5%;
  background: white; }

.sj_detail_list_wrap {
  width: 100%; }

dl.sj_detail_list {
  width: 100%;
  display: flex;
  padding: 0.4rem 0 0.4rem 0;
  border-bottom: 1px solid #f0f0f0;
  align-items: center; }
  dl.sj_detail_list dt {
    width: 2.26667rem;
    height: 3.01333rem;
    background: #333;
    margin-right: 0.4rem;
    position: relative; }
    dl.sj_detail_list dt img {
      display: block;
      width: 100%;
      height: 100%; }
  dl.sj_detail_list dd {
    flex: 1;
    height: 3.01333rem;
    overflow: hidden;
    font-weight: normal;
    font-size: 0.32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    dl.sj_detail_list dd h5 {
      font-size: 0.42667rem; }
    dl.sj_detail_list dd span {
      font-size: 0.34667rem;
      color: #333; }
    dl.sj_detail_list dd p {
      font-size: 0.29333rem;
      color: #999; }
    dl.sj_detail_list dd h6 {
      font-size: 0.29333rem;
      color: #999; }

.sj_data .sj_list .sj_easy_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .sj_data .sj_list .sj_easy_list .sj_detail_list_wrap {
    width: 33.3%;
    display: flex; }
    .sj_data .sj_list .sj_easy_list .sj_detail_list_wrap dl.sj_detail_list {
      width: 2.66667rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0; }
      .sj_data .sj_list .sj_easy_list .sj_detail_list_wrap dl.sj_detail_list dd {
        width: 100%;
        height: 1.12rem;
        justify-content: flex-start;
        padding-top: 0.13333rem; }
        .sj_data .sj_list .sj_easy_list .sj_detail_list_wrap dl.sj_detail_list dd h5 {
          font-size: 0.32rem;
          line-height: 0.42667rem; }
        .sj_data .sj_list .sj_easy_list .sj_detail_list_wrap dl.sj_detail_list dd span,
        .sj_data .sj_list .sj_easy_list .sj_detail_list_wrap dl.sj_detail_list dd p,
        .sj_data .sj_list .sj_easy_list .sj_detail_list_wrap dl.sj_detail_list dd h6 {
          display: none; }
  .sj_data .sj_list .sj_easy_list .sj_detail_list_wrap:nth-of-type(3n+1) {
    justify-content: flex-start; }
  .sj_data .sj_list .sj_easy_list .sj_detail_list_wrap:nth-of-type(3n+2) {
    justify-content: center; }
  .sj_data .sj_list .sj_easy_list .sj_detail_list_wrap:nth-of-type(3n+3) {
    justify-content: flex-end; }

.search {
  display: none;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

.search_head {
  width: 100%; }

.s_inner {
  display: flex;
  align-items: center;
  padding: 0; }
  .s_inner .s_back_icon {
    width: 1.2rem;
    height: 1.2rem;
    background: url("../image/icon-back.png") no-repeat center center;
    background-size: 0.58667rem; }
  .s_inner .s_fdj_icon {
    width: 1.01333rem;
    height: 1.01333rem;
    border-right: 1px solid #ccc;
    background: url("../image/icon-search.png") no-repeat center center;
    background-size: 0.58667rem; }
  .s_inner .s_cont {
    flex: 1;
    height: 0.93333rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    margin-right: 0.58667rem; }
    .s_inner .s_cont span {
      margin-left: 0.13333rem;
      border-left: 1px solid #ccc;
      font-size: 0.4rem;
      width: 1.33333rem;
      height: 100%;
      text-align: center;
      line-height: 0.93333rem;
      color: #666; }
    .s_inner .s_cont input {
      flex: 1;
      overflow: hidden;
      font-size: 0.37333rem;
      text-indent: 0.16rem; }

.s_content {
  flex: 1;
  overflow: hidden;
  background: #fff; }
  .s_content .s_default {
    width: 100%;
    padding: 0.26667rem 4% 0;
    display: flex;
    flex-wrap: wrap; }
    .s_content .s_default span {
      font-size: 0.37333rem;
      margin: 0.13333rem;
      padding: 0.05333rem 0.53333rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      color: #666; }
    .s_content .s_default span:nth-of-type(3n+1) {
      background: pink; }
    .s_content .s_default span:nth-of-type(3n+2) {
      background: blanchedalmond; }
    .s_content .s_default span:nth-of-type(3n+3) {
      background: greenyellow; }

dl.s_get_list {
  width: 100%;
  padding: 0.4rem 5%;
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  align-items: center; }
  dl.s_get_list dt {
    width: 2.26667rem;
    height: 3.01333rem;
    background: #333;
    margin-right: 0.4rem;
    position: relative; }
    dl.s_get_list dt img {
      display: block;
      width: 100%;
      height: 100%; }
  dl.s_get_list dd {
    flex: 1;
    height: 3.01333rem;
    overflow: hidden;
    font-weight: normal;
    font-size: 0.32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    dl.s_get_list dd h5 {
      font-size: 0.42667rem; }
    dl.s_get_list dd p {
      font-size: 0.34667rem;
      color: #999;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    dl.s_get_list dd h6 {
      font-size: 0.34667rem;
      color: #999; }

.s_get {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none; }

.s_err {
  width: 100%;
  padding: 0.4rem 5%;
  font-size: 0.42667rem;
  color: #666;
  text-align: center;
  display: none; }

.detail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f5f5; }

.d_header {
  width: 100%; }

dl.detail_list {
  width: 100%;
  display: flex;
  padding: 0.4rem 0 0.4rem 0;
  align-items: center; }
  dl.detail_list dt {
    width: 2.26667rem;
    height: 3.01333rem;
    background: #333;
    margin-right: 0.66667rem;
    position: relative; }
    dl.detail_list dt img {
      display: block;
      width: 100%;
      height: 100%; }
  dl.detail_list dd {
    flex: 1;
    height: 3.01333rem;
    overflow: hidden;
    font-weight: normal;
    font-size: 0.32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    dl.detail_list dd h5 {
      font-size: 0.37333rem;
      margin-bottom: 0.26667rem; }
    dl.detail_list dd strong {
      font-size: 0.34667rem;
      color: #00a0e9; }
    dl.detail_list dd p {
      font-size: 0.32rem;
      color: #666; }
      dl.detail_list dd p span {
        font-size: 0.29333rem;
        padding: 0rem 0.13333rem;
        border-radius: 0.08rem;
        border: 1px solid #55b4ec;
        margin-left: 0.13333rem;
        color: #55b4ec; }

.d_cont {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 1.06667rem; }
  .d_cont .detail_summary {
    width: 100%;
    background: #fff;
    margin-bottom: 0.26667rem; }
    .d_cont .detail_summary > div {
      width: 100%;
      padding: 0 5%; }
    .d_cont .detail_summary .detail_summary_dl {
      padding: 0 10%; }
  .d_cont .detail_labels {
    width: 100%;
    background: #fff;
    margin-bottom: 0.26667rem;
    padding: 0 0.26667rem; }
    .d_cont .detail_labels h3 {
      width: 100%;
      height: 1.06667rem;
      line-height: 1.06667rem;
      font-size: 0.42667rem;
      font-weight: 800;
      color: #8d8d8d; }
    .d_cont .detail_labels b {
      display: inline-block;
      width: auto;
      line-height: 0.66667rem;
      padding: 0 0.53333rem;
      color: #766d5d;
      border-radius: 0.10667rem;
      background: #fcedda;
      font-size: 0.37333rem;
      text-align: center;
      margin-right: 0.26667rem;
      border: 0.02667rem solid #d3d3d3;
      margin-bottom: 0.4rem; }
    .d_cont .detail_labels b:nth-of-type(3n+1) {
      background: pink; }
    .d_cont .detail_labels b:nth-of-type(3n+2) {
      background: blanchedalmond; }
    .d_cont .detail_labels b:nth-of-type(3n+3) {
      background: #e8f9db; }

.detail_btns {
  display: flex;
  justify-content: space-between;
  margin: 0.26667rem 0; }
  .detail_btns button {
    width: 49%;
    height: 0.93333rem;
    border: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 0.42667rem; }
  .detail_btns button:first-of-type {
    background: orange;
    border: none;
    color: #fff; }

.detail .detail_summary .detail_txt {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 0.34667rem;
  color: #666;
  line-height: 0.48rem; }

.detail_end {
  height: 1.06667rem;
  line-height: 1.06667rem;
  font-size: 0.34667rem;
  color: #999;
  text-align: center;
  border-top: 1px solid #ccc; }

.detail_other {
  width: 100%;
  background: #fff;
  margin-bottom: 0.26667rem; }
  .detail_other h3 {
    width: 100%;
    padding-left: 0.26667rem;
    position: relative;
    height: 1.06667rem;
    line-height: 1.06667rem;
    border-bottom: 1px solid #ddd;
    font-size: 0.37333rem;
    margin-bottom: 0.26667rem;
    border: none;
    padding-left: 0.26667rem;
    color: #555; }
  .detail_other .detail_inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .detail_other .detail_inner a {
      width: 33%;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 0.26667rem; }
    .detail_other .detail_inner dl dt {
      width: 2.26667rem;
      height: 3.01333rem;
      margin: 0 auto;
      background: #ccc; }
      .detail_other .detail_inner dl dt img {
        width: 100%;
        height: 100%;
        display: block; }
    .detail_other .detail_inner dl dd {
      width: 2.26667rem;
      margin: 0 auto;
      flex: 1;
      text-align: left; }
      .detail_other .detail_inner dl dd span {
        font-size: 0.32rem;
        text-align: center;
        color: #555; }
  .detail_other h4 {
    width: 100%;
    height: 1.17333rem;
    text-align: center;
    line-height: 1.17333rem;
    border-top: 1px solid #ddd;
    font-size: 0.32rem; }

.detail_other .detail_inner dl dt,
.detail_other .detail_inner dl dd {
  width: 2.7rem; }

.detail_message {
  width: 100%;
  background: #fff;
  margin-bottom: 0.26667rem;
  margin-bottom: 0; }
  .detail_message h3,
  .detail_message p {
    width: 100%;
    padding-left: 0.26667rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    font-size: 0.42667rem;
    color: #555; }
  .detail_message p {
    height: 1.33333rem; }

.read {
  width: 100%;
  background: darkcyan;
  padding: 0 5%;
  position: relative;
  font-size: 0.4rem; }
  .read .read_p {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 0.26667rem; }
    .read .read_p h3 {
      width: 100%;
      border-bottom: 1px solid orange;
      font-size: 0.53333rem;
      color: orange;
      padding-bottom: 0.16rem; }
    .read .read_p p {
      font-family: "幼圆";
      text-indent: 2em;
      margin: 0.13333rem 0; }

.r_mark {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  display: none; }

.r_head {
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  color: #fff;
  width: 100%; }
  .r_head .tpl_lef span {
    color: #fff; }
  .r_head .tpl_lef_icon {
    background: url("../image/icon-circle-back.png") no-repeat center center;
    background-size: 0.58667rem; }
  .r_head .tpl_rig_icon {
    background: url("../image/icon-more.png") no-repeat center center;
    background-size: 0.58667rem;
    margin-right: 0.4rem; }

.r_bot {
  position: absolute;
  left: 0;
  bottom: 0;
  background: black;
  color: #fff;
  width: 100%; }
  .r_bot .r_nums {
    display: flex;
    justify-content: space-between;
    height: 1.06667rem;
    border-bottom: 1px solid #ccc; }
    .r_bot .r_nums button {
      height: 100%;
      background: none;
      border: none;
      color: #fff;
      font-size: 0.37333rem;
      padding: 0 20px; }
    .r_bot .r_nums p {
      line-height: 1.06667rem;
      font-size: 0.37333rem;
      color: #fff; }
  .r_bot .r_fot {
    display: flex;
    justify-content: space-around;
    height: 2.13333rem; }
    .r_bot .r_fot p {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .r_bot .r_fot p i {
        width: 0.93333rem;
        height: 0.93333rem;
        background: blueviolet; }
      .r_bot .r_fot p span {
        font-size: 0.37333rem; }
    .r_bot .r_fot p:nth-of-type(1) i {
      background: url("../image/icon-chapter.png") no-repeat center center;
      background-size: 0.58667rem; }
    .r_bot .r_fot p:nth-of-type(2) i {
      background: url("../image/icon-font.png") no-repeat center center;
      background-size: 0.58667rem; }
    .r_bot .r_fot p:nth-of-type(3) i {
      background: url("../image/icon-night.png") no-repeat center center;
      background-size: 0.58667rem; }
    .r_bot .r_fot p:nth-of-type(4) i {
      background: url("../image/icon-down.png") no-repeat center center;
      background-size: 0.58667rem; }
    .r_bot .r_fot p.font_active i {
      background: url("../image/icon-font-active.png") no-repeat center center;
      background-size: 0.58667rem; }
    .r_bot .r_fot p.day_active i {
      background: url("../image/icon-light.png") no-repeat center center;
      background-size: 0.58667rem; }

.r_set {
  position: absolute;
  left: 0;
  bottom: 2.13333rem;
  background: black;
  width: 100%;
  padding-top: 0.26667rem;
  display: none; }
  .r_set > div {
    width: 100%;
    height: 1.33333rem;
    display: flex;
    align-items: center; }
    .r_set > div > strong {
      height: 100%;
      width: 2.13333rem;
      text-align: center;
      font-size: 0.37333rem;
      line-height: 1.33333rem; }
  .r_set .r_font_size button {
    font-size: 0.34667rem;
    height: 0.66667rem;
    width: 2.4rem;
    background: none;
    border: none;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 1.06667rem;
    margin-right: 0.26667rem; }
  .r_set .r_background ul {
    height: 100%;
    display: flex;
    align-items: center; }
    .r_set .r_background ul li {
      width: 0.74667rem;
      height: 0.74667rem;
      margin-right: 0.26667rem;
      border-radius: 50%;
      background: aqua; }
    .r_set .r_background ul li:nth-of-type(1) {
      background: #f7eee5; }
    .r_set .r_background ul li:nth-of-type(2) {
      background: #e9dfc7; }
    .r_set .r_background ul li:nth-of-type(3) {
      background: #a4a4a4; }
    .r_set .r_background ul li:nth-of-type(4) {
      background: #cdefce; }
    .r_set .r_background ul li:nth-of-type(5) {
      background: #283548; }
    .r_set .r_background ul li:nth-of-type(6) {
      background: #0f1410; }
    .r_set .r_background ul li.active {
      border: 1px solid red; }

.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  background: #f5f5f5;
  flex-direction: column; }
  .page .page_header {
    width: 100%; }
  .page .page_content {
    flex: 1;
    width: 100%;
    background: #fff;
    height: 100%;
    overflow: hidden; }
    .page .page_content .page_list {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0; }
      .page .page_content .page_list li {
        width: 100%;
        height: 1.33333rem;
        line-height: 1.33333rem;
        text-align: left;
        padding: 0 0.26667rem;
        border-bottom: 0.02667rem solid #ccc;
        font-size: 0.42667rem; }
