@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

* {
  box-sizing: border-box; }

html,
body,
.wrap,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.wrap {
  display: flex;
  flex-direction: column; }

/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.wrap {
  font-size: 0.48rem; }

header,
footer {
  width: 100%;
  height: 1.2rem;
  background: #efeff0;
  color: #333;
  line-height: 1.2rem; }

header {
  position: relative;
  padding: 0 1.2rem;
  display: flex; }
  header .head_inner {
    height: 100%;
    width: 4.8rem;
    margin: 0 auto;
    display: flex;
    position: relative; }
    header .head_inner span {
      line-height: 1.2rem;
      width: 50%;
      text-align: center; }
    header .head_inner span.active {
      color: #ff6600; }
    header .head_inner .line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 3px;
      background: #ccc;
      transition: left 1s; }
    header .head_inner b.move {
      left: 50%; }
    header .head_inner .line:after {
      content: "";
      width: 50%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #777; }
  header .head_icon {
    height: 100%;
    width: 1.2rem;
    position: absolute;
    top: 0; }
  header .icon_left {
    left: 0;
    background: url("../image/icon-sign.png") no-repeat center center;
    background-size: 0.58667rem; }
  header .icon_right {
    right: 0;
    background: url("../image/icon-person.png") no-repeat center center;
    background-size: 0.58667rem; }

main {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.index_scroll,
.shu_c,
.shu_j {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.shu_c,
.shu_j {
  overflow: auto; }

.shu_c_inner {
  height: 2000px;
  background: orange; }

.shu_j_inner {
  height: 200px;
  background: pink; }
