//详情页-------------开始
@mixin header_style() {
    position: relative;
    padding: 0 pxTorem(45px);
    display: flex;
}

@mixin box_style() {
    width: 100%;
    background: #fff;
    margin-bottom: pxTorem(10px);
}

@mixin list_header() {
    width: 100%;
    padding-left: pxTorem(10px);
    position: relative;
    height: pxTorem(40px);
    line-height: pxTorem(40px);
    border-bottom: 1px solid $border-color;
    font-size: pxTorem(14px);
    margin-bottom: pxTorem(10px);
}

@mixin list_content() {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    a {
        width: 33%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 0.26667rem;
    }
    dl {
        dt {
            width: pxTorem(85px);
            height: pxTorem(113px);
            margin: 0 auto;
            background: #ccc;
            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        dd {
            width: pxTorem(85px);
            margin: 0 auto;
            flex: 1;
            text-align: left;
            span {
                font-size: pxTorem(12px);
                text-align: center;
                color: $gray-color;
            }
        }
    }
}

@mixin list_footer() {
    width: 100%;
    height: pxTorem(44px);
    text-align: center;
    line-height: pxTorem(44px);
    border-top: 1px solid $border-color;
    font-size: pxTorem(12px);
}

//详情页-------------开始
.detail {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f5f5f5;
}

//详情页头部
.d_header {
    width: 100%;
}

//左图游文结构-----------------------------
dl.detail_list {
    width: 100%;
    display: flex;
    padding: pxTorem(15px) 0 pxTorem(15px) 0;
    align-items: center;
    dt {
        width: pxTorem(85px);
        height: pxTorem(113px);
        background: #333;
        margin-right: pxTorem(25px);
        position: relative;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    dd {
        flex: 1;
        height: pxTorem(113px);
        overflow: hidden;
        font-weight: normal;
        font-size: pxTorem(12px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h5 {
            font-size: pxTorem(14px);
            margin-bottom: pxTorem(10px);
        }
        strong {
            font-size: pxTorem(13px);
            color: $blue-border-color;
        }
        p {
            font-size: pxTorem(12px);
            color: #666;
            span {
                font-size: pxTorem(11px);
                padding: pxTorem(0px) pxTorem(5px);
                border-radius: pxTorem(3px);
                border: 1px solid $blue-color;
                margin-left: pxTorem(5px);
                color: $blue-color;
            }
        }
    }
}

.d_cont {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: pxTorem(40px);
    .detail_summary {
        @include box_style();
        >div {
            width: 100%;
            padding: 0 5%;
        }
        .detail_summary_dl {
            padding: 0 10%;
        }
    }
    .detail_labels {
        @include box_style();
        padding: 0 pxTorem(10px);
        h3 {
            width: 100%;
            height: pxTorem(40px);
            line-height: pxTorem(40px);
            font-size: pxTorem(16px);
            font-weight: 800;
            color: #8d8d8d;
        }
        b {
            display: inline-block;
            width: auto;
            line-height: pxTorem(25px);
            padding: 0 pxTorem(20px);
            color: #766d5d;
            border-radius: pxTorem(4px);
            background: #fcedda;
            font-size: pxTorem(14px);
            text-align: center;
            margin-right: pxTorem(10px);
            border: pxTorem(1px) solid #d3d3d3;
            margin-bottom: pxTorem(15px);
        }
        b:nth-of-type(3n+1) {
            background: pink;
        }
        b:nth-of-type(3n+2) {
            background: blanchedalmond;
        }
        b:nth-of-type(3n+3) {
            background: #e8f9db;
        }
    }
}

.detail_btns {
    display: flex;
    justify-content: space-between;
    margin: pxTorem(10px) 0;
    button {
        width: 49%;
        height: pxTorem(35px);
        border: none;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 7px;
        font-size: pxTorem(16px);
    }
    button:first-of-type {
        background: orange;
        border: none;
        color: #fff;
    }
}

.detail .detail_summary .detail_txt {
    padding-top: pxTorem(15px);
    padding-bottom: pxTorem(15px);
    font-size: pxTorem(13px);
    color: #666;
    line-height: pxTorem(18px);
}

.detail_end {
    height: pxTorem(40px);
    line-height: pxTorem(40px);
    font-size: pxTorem(13px);
    color: #999;
    text-align: center;
    border-top: 1px solid #ccc;
}

.detail_other {
    @include box_style();
    h3 {
        @include list_header();
        border: none;
        padding-left: pxTorem(10px);
        color: $gray-color;
    }
    .detail_inner {
        @include list_content();
    }
    h4 {
        @include list_footer()
    }
}

.detail_other .detail_inner dl {
    dt,
    dd {
        width: 2.7rem;
    }
}

.detail_message {
    @include box_style();
    margin-bottom: 0;
    h3,
    p {
        width: 100%;
        padding-left: pxTorem(10px);
        height: pxTorem(40px);
        line-height: pxTorem(40px);
        font-size: pxTorem(16px);
        color: $gray-color;
    }
    p {
        height: pxTorem(50px);
    }
}